---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Sobre mi, Angel";

const identity = {
  firstName: "Angel",
  country: "Venezuela",
  occupotion:  "Web Dev",
  hobbies: ["Practicar deportes", "Estudiar", "Programar", "Nadar", "Ejercitarme"],
}

const skills = ["HTML", "CSS", "Javascript", "Nodejs", "Typescript", "React", "Php"];

const happy = true;
const finished = true;
const goal = 3;
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... ¡y mi nuevo sitio Astro!</h2>

  <p>He aqui algunos de mis datos sobre mi:</p>
  <ul>
    <li>Me llamo {identity.firstName}.</li>
    <li>Vivo en {identity.country} y trabajo como {identity.occupotion}</li>
    {identity.hobbies.length >= 2 && <li>Dos de mis aficiones son: {identity.hobbies[2]} y {identity.hobbies[4]}</li>}
  </ul>

  <p>Mis habilidades son:</p>
  <ul>
    {skills.map(skill => <li class="skill">{skill}.</li>)}
  </ul>

  {happy && <p>Me siento feliz de aprender astro</p>}
  {finished && <p>He terminado el tutorial de astro</p>}
  {goal === 3 ? <p>Mi objetivo es terminar en 3 dias</p> : <p>Mi objectivo no son solo 3 dias!</p>}
</BaseLayout>
